--1.soru
SELECT COUNT(*) FROM film 
WHERE length > (SELECT AVG(length) FROM film);

--2.soru
SELECT COUNT(*) FROM film 
WHERE rental_rate = (SELECT MAX(rental_rate) FROM film);

--3.soru
SELECT rental_rate,replacement_cost,title FROM film 
WHERE rental_rate = (SELECT MIN(rental_rate) FROM film) AND replacement_cost = (SELECT MIN(replacement_cost) FROM film)
ORDER BY rental_rate ASC ,
replacement_cost ASC;

--4.soru
SELECT customer.customer_id,customer.first_name,customer.last_name,
COUNT(payment.payment_id) AS total_payments FROM payment
JOIN customer ON customer.customer_id = payment.customer_id
GROUP BY customer.customer_id, customer.first_name, customer.last_name
ORDER BY total_payments DESC;

